.odd-num {
    background-color: #EF9A9A;
    font-family: Verdana, sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #00E676;
    font-size: 50px;
}